extends layout

block content
  div.jumbotron
    h1 Witaj w Prayer Pairing!
    p Wpisz swój adres e-mail na który będą przychodzić powiadomienia

    div.alert= errors

    form.form-horizontal(method='post', role='form', action='/')
      div.form-group
        div.col-sm-3
          input.form-control.input-lg(
            placeholder='Imię',
            required=true,
            name='name',
            type='text'
            value=name)

        div.col-sm-3
          input.form-control.input-lg(
            placeholder='Nazwisko',
            required=true,
            name='surname',
            type='text'
            value=surname)

        div.col-sm-4
          input.form-control.input-lg(
            placeholder='E-mail',
            required=true,
            name='email',
            type='email'
            value=email)

        div.col-sm-2
          button.btn.btn-primary.btn-lg(type='submit') Dodaj
