extends ../layout

block content
  nav
    ul.pager
      li.previous
        a(href="/admin/groups##{user.Group.slug}")
          span(aria-hidden='true') &larr; Back

  .admin-panel
    h1
      = user.fullName()
      small &nbsp;#{user.Group.name}

    div.tab-content.container
      table.table.table-hover
        thead
          th Round
          th User
          th User
          th Created
          th

        tbody
          each history in userPairs
            tr
              td= history.Round.number
              td= history.User.fullName()
              td= history.Pair.fullName()
              td= dateFormat(userPairs.createdAt, "dd.mm.yyyy, HH:MM")
