extends ../layout

block content
  table.table.table-hover
    thead
      th Id
      th Group
      th Name
      th Surname
      th Email
      th

    tbody
      each user in users
        tr
          td= user.id
          td= user.Group.name
          td= user.name
          td= user.surname
          td= user.email
          td
            a(href='/admin/users/#{user.id}/destroy') delete
